@tailwind base;
@tailwind components;
@tailwind utilities;

/* exist fout */
/* @font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Black.woff2') format('woff2'),
    url('/font/Pretendard-Black.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/font/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Bold.woff2') format('woff2'),
    url('/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-SemiBold.woff2') format('woff2'),
    url('/font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Medium.woff2') format('woff2'),
    url('/font/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Regular.woff2') format('woff2'),
    url('/font/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Light.woff2') format('woff2'),
    url('/font/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/font/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/font/Pretendard-Thin.woff2') format('woff2'),
    url('/font/Pretendard-Thin.woff') format('woff');
}
@font-face {
  font-family: 'NotoSansCJKKR';
  font-style: normal;
  font-weight: 300;
  src: url('/font/NotoSansCJKKR-Light.woff') format('woff'),
    url('/font/NotoSansCJKKR-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansCJKKR';
  font-style: normal;
  font-weight: 400;
  src: url('/font/NotoSansCJKKR-Regular.woff') format('woff'),
    url('/font/NotoSansCJKKR-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansCJKKR';
  font-style: normal;
  font-weight: 500;
  src: url('/font/NotoSansCJKKR-Medium.woff') format('woff'),
    url('/font/NotoSansCJKKR-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansCJKKR';
  font-style: normal;
  font-weight: 700;
  src: url('/font/NotoSansCJKKR-Bold.woff') format('woff'),
    url('/font/NotoSansCJKKR-Bold.woff2') format('woff2');
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /* exist fout */
  /* html {
    font-family: 'pretendard';
  } */
  body {
    @apply bg-background text-foreground;
  }
}
